*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --violet: #9792E4;
    --gold: #FDC15F;
    --dark: #333333;
    --card-border-radius: 1rem;
    --card-border-radius-lg: 2rem;
}

html{
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: currentColor;
}

button{
    border: none;
    background-color: transparent;
}

ul, 
ol, 
menu{
    list-style: none;
}

.italic{
    font-style: italic;
}

.rounded{
    border-radius: var(--card-border-radius);
}
    
.rounded-lg{
        border-radius: var(--card-border-radius-lg);
}

.bg-white{
    background-color: white;
}

.bg-lightblue{
    background-color: var(--lightblue);
}

.section{
    padding: 3rem 0;
}

.container{
    max-width: 1200px;
}

.container-sm{
    max-width: 940px;
}

.container,
.container-sm{
    margin: 0 auto;
    padding: 0 2rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    flex-basis: 0;
    flex-grow: 1;
}

.hero .col{
    flex-basis: 100%;
}

@media (min-width: 768px){

    .hero .col{
        flex-basis: 30%;
    }

    .hero .col-span-2{
        flex-basis: calc(60% + 1.5rem);
        flex-grow: 2;
    }
}

/* HEADER */

.main-header{
    background-color: var(--blue);
    color: white;
    padding: 1.25rem 0;
}

.main-header .row{
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}

.main-nav{
    display: none;
}

.main-nav .menu{
    display: flex;
    align-items: center;
}

@media (min-width: 1024px){
    .main-nav{
        display: block;
    }
}

.main-nav .menu a{
    display: block;
    line-height: 1.5em;
    padding: 0 0.75rem;
}

/* GRIGLIA DI CARD */

.hero .row{
    gap: 1.5rem;
}

.card{
    padding: 1.75rem 1.5rem;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    height: 100%;
}

.card__icon, 
.card__title{
    color: var(--blue);
}

.card__icon{
    font-size: 4rem;
    padding-bottom: 1.25rem;
}

.card__title{
    font-size: 1.5rem;
}

.card__description{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--dark);
    line-height: 1.75em;
}

.card--landscape{
    padding: 0;
}

.card--landscape .content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.75rem 1.5rem;
    align-items: flex-start;
}

.card--landscape .card__description{
    text-align: left;
}

.card--landscape img{
    display: block;
    width: 220px;
    margin: 0 auto;
}

.card--landscape .row{
    height: 100%;
    gap: 1.5rem;
}

.card--landscape .thumbnail-wrapper{
    align-self: flex-end;
}

/* PLANNING */

.planning{
    background-color: var(--violet);
    color: white;
    padding: 7rem 0 4.5rem;
}

.planning .col{
    flex-basis: 100%;
}

.planning .row{
    gap: 3rem;
}

.planning__featured-image{
    margin-bottom: 3.25rem;
}

.planning__title{
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.planning__description{
    line-height: 1.75em;
    font-size: 0.75rem;
}

.card-planning .card-image{
    width: 70%;
}

.planning .col:last-child{
    align-self: flex-end;
}

@media (min-width: 1024px){
    .planning .col{
        flex-basis: 0;
    }

    .planning__title{
        margin-bottom: 3rem;
    }

    .planning__featured-image{
        margin-bottom: 7.75rem;
    }
}

/* BUTTON */

.button{
    border-radius: 999px;
    padding: 0 2.5rem;
    line-height: 2.875rem;
    color: white;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.button--white{
    background-color: white;
    color: black;
}

.button--violet{
    background-color: var(--violet);
}

.button--blue{
    background-color: var(--blue);
}

.button--circle{
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.25rem;
    padding: 0;
}

nav .button{
    padding: 0 0.75rem;
    line-height: 2.5rem !important;
}