/* ----- HEADER ----- */

.nav{
    color: white;
}

.nav .container .nav-logo{
display: flex;
align-items: center;
padding: 10px;
}

.nav-list ul{
    display: flex;
    gap: 20px;
}

.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ----- HERO ----- */

.hero{
    padding-top: 75px;
    padding-bottom: 86px;
}

.hero .container{
    padding-left: 32px;
    padding-right: 32px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 16px;
    justify-content: space-between;
}

.card-big{
    width: calc((1200px - 64px) / 2);
    flex-grow: 1;
    margin-right: 8px;
    display: flex;
    max-height: 340px;
}

.card{
    width: calc(((1200px - 64px) / 3) - 16px);
    max-width: 100%;
}

.hero-title{
    font-size: 2rem;
    color: #0084fd;
    padding-top: 25px;
}

.hero-p{
    padding-top: 12px;
}

.card-big-content{
    width: 50%;
}

.card-big-img > img{
    max-width: 100%;
    flex: 1;
    height: 100%;
    padding-top: 50px;
}

.card-big-content > button{
    margin-top: 28px;
    margin-bottom: 32px;
}

.card .hero-title{
    padding-top: 30px;
    padding-bottom: 10px;
}

/* ----- PLANNING ----- */


.planning-left, .planning-right{
    width: 50%;
}


.planning-title{
    color: white;
    padding-bottom: 40px;
}

.planning-p{
    color: white;
    padding-bottom: 46px;
}

.wrapper{
    display: flex;
    column-gap: 20px;
}

.planning-right{
    margin-top: 100px;
    align-self: flex-end;
    background-color: white;
    border-radius: 20px;
}

.planning-left img{
    width: 100%;
}

.planning-right img{
    width: 100%;
}

.right-descr{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    align-items: center;
}

.right-descr p{
    margin: 20px;
}

.arrow{
    background-color: #9792E4;
    border-radius: 100%;
    padding: 20px;
}