*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Open Sans', sans-serif;
}

header{
    position: fixed;
    width: 100%;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

ul, ol, li, menu{
    list-style: none;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.button{
    background-color: white;
    color: black;
    padding: 5px;
    line-height: 50%;
    border: 1px solid white;
    border-radius: 20px;
}

.blue{
    background-color: #0084FD;
    color: white;
    border: 1px solid #0084FD;
}


.card, .card-big{
    background-color: #B5DDFF;
    color: #5A6E7F;
    border-radius: 10px;
    padding-left: 15px;
}

.card{
    text-align: center;
    padding: 20px;
}